body{
    margin: 0 !important;
    padding: 0 !important;
    font-family:'Poppins', sans-serif !important;
     background: linear-gradient(to bottom, #241d3d 10%, #10192b 90%);

  
}



header{
    background-color: #141c2f;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu{
    margin-right: 30px;
}

.menu1{
   position: relative;
   color: white;
   text-decoration: none;
   font-family:'Poppins', sans-serif;
   margin-right: 30px;
   font-weight: bolder;
}


.menu1::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -5px;
   width: 0%;
   height: 2px;
   background-color: #5775f6;;
   transition: width 0.3s ease;
}

.menu1:hover::after{
   width: 100%;
}





.logo{
    background-image: url(imagenes/logo.png);
    height: 70px;
    width: 170px;
    margin-left: 50px;
    margin-top: -20px;
}

.hero{
    height: 400px;
    width: 100%;
    background-image: url(imagenes/hero2.png);
    margin-top: 0;

}

.herotext{
   
    margin-top: -5px;
    width: 600px;
    margin-left: 40px;
    padding-top: 25px;
}

.text{
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    line-height: 1.1;
}

.textsub{
    color: white;
    margin-left: 40px;
    font-size: 20px;
    margin-top: -30px;
}

.llamado{
    background-color:#e25118;
    width: 200px;
    height: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family:'Poppins', sans-serif;
    box-shadow:  0 0 8px 3px #2b2b2b;
}

.llamado:hover{
    background-color:#5775f6;
    box-shadow:  0 0 8px 3px #272727;
}

.botonllama{
    color: white;
    text-decoration: none;   
}

.servicios{
    height: 600px;
    background-color: #11192b;

}



.seccion{
    color: #5775f6;
    margin-top: 0;
    text-align: center;
    padding-top: 80px;
    font-size: 35px;

}

.servicios .textsub{
  text-align: center; 
  margin-left: 0 ;

}



/* CONTENEDOR DE TARJETAS */

.contenedor-servicios{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* TARJETAS */

.card-servicio{
    background-color:#1c2638;
    padding: 30px;
    width: 280px;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s ease;
}

.card-servicio:hover{
    transform: translateY(-10px);
   /* border: 1px solid #4a7fe0 ;*/
    background:  linear-gradient(to top, #e25118, #291f4b);
}


.icono-box{
    width: 55px;
    height: 48px;
    /*background: linear-gradient(#4d79f6, #8061f6);  /* verde */
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}




.icono{
    font-size: 24px;
    color: white;
}



/* ICONO */

.icono{
    font-size: 30px;
    margin-bottom: 15px;
}

/* TITULO */

.card-servicio h3{
    color: white;
    margin-bottom: 10px;
}

/* TEXTO */

.card-servicio p{
    color: #aab6d1;
    font-size: 15px;
    line-height: 1.5;
}

.contenedor-servicios .textsub{
    margin-top: 10px;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight:normal;
}

h3{
    font-size: 22px;
}


/*seccion de beneficios*/

.beneficios{
    height: 790px;
    background-color: #2c234b;

    width: 1350px;
   
   
}



.beneficios .textsub{
    color: white;
    text-align: center;
    margin-left: 0;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
  
   
}

.t1, .t2, .t3, .t4 {
    height: 230px;
    width: 100%; /* que se adapten 
   max-width: 600px;*/
    background-color: #1c2638;
    border-radius: 10px;
    
  
}



.t1{
   
    width: 550px;
    background-image: url(imagenes/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
    border-radius: 10px;
   
    
    
}


.t1:hover{
     box-shadow: 
        0 0 10px  #131313; 
}

.t1 .textsub{
    text-align: left;
    width: 100%;
    margin-left: 320px;
    margin-top: 70px;
    font-weight: bolder;
    font-size: 22px;
}

.textsub1{
  margin-left: 320px;
  color: white;  
  margin-top: -20px;
 
}


.t2{
   
    width:550px;
    background-image: url(imagenes/2.png);
    background-repeat: no-repeat;
    margin-right: 100px;
 
    

}

.t2:hover{
     box-shadow: 
        0 0 10px  #131313; 
}



.t2 .textsub{
    text-align: left;
    width: 100%;
    margin-top: 55px;
    margin-left: 40px;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 255, 255);
   
}

.t2 .textsub1{
    color:white;
    margin-left: 40px;
}



.t3{
    
    width: 550px;
    background-image: url(imagenes/4.5.png);
    background-repeat: no-repeat;
    margin-left: 100px;
   
}

.t3:hover{
     box-shadow: 
        0 0 10px   #131313; 
}


.t3 .textsub{
    text-align: left;
    width: 100%;
    margin-top: 55px;
    margin-left: 300px;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 255, 255);
   
}

.t3 .textsub1{
margin-left: 300px;
  color: white;  
  margin-top: -20px;
}

.t4{
  
    width: 550px;
    background-image: url(imagenes/3.png);
    background-repeat: no-repeat;
    margin-right:100px;
   
}

.t4:hover{
     box-shadow: 
        0 0 10px #131313; 
}


.t4 .textsub{
    text-align: left;
    width: 100%;
    margin-top: 55px;
    margin-left: 40px;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 255, 255);
   
}

.t4 .textsub1{
    color:white;
    margin-left: 40px;
}

.contacto{
  /*background-color: #10192b;*/
  background: linear-gradient(to bottom, #241d3d 10%, #10192b 90%);
  height: 850px;
 
  
}

.contacto .textsub{
    text-align: center;
    margin-left: 0;
}


.contenedor-contacto{
    display: flex;
    gap: 30px;
    margin: 40px 50px;
    align-items: stretch; /* 🔥 misma altura */
    height: 600px;
}





.formulario{
    
    
    background-color: #192335;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1; /* 🔥 ocupa la mitad */
    border-radius: 8px;
}


.info-extra{
    background: linear-gradient(135deg, #1c2638, #2a3b5f);
    border-radius: 8px;
    flex: 1; /* 🔥 ocupa el espacio restante */
    height: 600px;
}



.titulo1{
   color: #5775f6;
    margin-top: 0;
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
}


label{
    color: white;
    font-size: 18px;
}


input, textarea, .enviar{
    width: 100%;
}

input{
    background-color: #263245;
    height: 40px;
   
    border: solid 1px transparent;
    border-radius: 4px;
}



input:focus, textarea:focus{
    border: 1px solid #5775f6;
    box-shadow: 0 0 8px rgba(87,117,246,0.5);
    outline: none;
}

textarea{
    background-color:  #263245;
  
    border: none;
    border-radius: 6px;
    height: 90px;
    width: 100%;
}


input, textarea{
    color: #e5e7ff;
    font-size: 15px;
    font-family: sans-serif;
}



.enviar{
    background-color:#e25118;
    border: none;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
}

.enviar:hover{
    background-color:#5775f6;
    box-shadow:  0 0 8px 3px #272727;
}

.banred{
    text-align: center;
    color: white;
    font-size: 23px;
    padding-top: 30px;
}

.redes{
   background-color: #19212e;
    border-radius: 5px;
    height: 80px;
   margin: 30px;
   color: white;
    font-size: 18px;
    display: flex;

    align-items: center;
   
}



.redes:hover{
    background: linear-gradient(to right, #f1a43b, #da2fb9);
}

.redes2{
   background-color: #19212e;
    border-radius: 5px;
    height: 80px;
   margin: 30px;
   color: white;
    font-size: 18px;
    display: flex;

    align-items: center;
   
}

.redes2:hover{
    background-color: #2bb641;
}

.redes3{
   background-color: #19212e;
    border-radius: 5px;
    height: 80px;
   margin: 30px;
   color: white;
    font-size: 18px;
    display: flex;

    align-items: center;
   
}


.redes3:hover{
    background:linear-gradient(90deg,  #ea4335, #fbbc04, #34a853, #4285f4);
}


.imag{
    height:30px ;
    color: white;
    margin-left: 20px;
    margin-right: 25px;
}




.info-extra .textsub{
    margin-top: 40px;
    font-size: 20px;
}


footer{

background-color: #030818;
 width: 100%;
 height: 160px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

footer .logo{

    margin-top: 5px;
}

footer .textsub{
    text-align: right;
    margin-right: 40px;
    margin-top: 12px;
    font-size: 15px;
}


footer .menu{
    margin-top: 10px;
    margin-left: 150px;
}


.whatsapp-btn {
   position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.whatsapp-btn.hidden{
  opacity: 0;
  pointer-events: none;
}

.whatsapp-btn img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.whatsapp-btn img:hover {
  transform: scale(1.1);
}

.scroll-top-btn{
  position: fixed;
  bottom: 90px; /* arriba del botón de WhatsApp */
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #5775f6;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-top-btn.show{
  opacity: 1;
  pointer-events: auto;
}

.scroll-top-btn:hover{
  transform: scale(1.1);
}

.notificacion {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #192335;
  color: white;
  padding: 15px 20px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.notificacion.show {
  opacity: 1;
  transform: translateY(0);
}

.versionmobile{
    display: none;
}



/*---------------------- version mobile -----------------------------------------------*/
/*---------------------- version mobile -----------------------------------------------*/
/*---------------------- version mobile -----------------------------------------------*/

@media (max-width: 768px) {
 .versionescritorio{
    display: none;}


.versionmobile{
display: block;
    }
 
 /*---BOTON WHATSSAP---*/
.whatsapp-btn {
  bottom: 15px; /* opcional: lo sube un poco */
  right: 15px;
}

.whatsapp-btn img {
  width: 45px;  /* 🔥 más chico */
  height: 45px;
}

.scroll-top-btn{
  bottom: 75px;
}

/* ------ MENU DESPLEGABLE ------*/
.header-mobile {
  height: 80px;
  background-color:#141c2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logocel{
    margin: 0;
 height: 50px;
 width: 120px;
 margin-left: 20px;
 background-image: url(imagenes/logo.png);
background-size: contain;
background-repeat: no-repeat;
}


/* BOTÓN HAMBURGUESA */
.btn-menu {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

/* MENÚ LATERAL */
.menu-mobile {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 75%;
  height: calc(100% - 80px); /* ocupa el resto de la pantalla */
  background-color: #10192b;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 20px;
  transition: right 0.3s ease;
  z-index: 2000;
}


/* OVERLAY CON BLUR */
.overlay {
  position: fixed;
  top: 80px; /* 🔥 respeta el header */
  left: 0;
  width: 100%;
  height: calc(100% - 80px);

  background: rgba(0, 0, 0, 0.4); /* oscurece */
  backdrop-filter: blur(5px); /* 🔥 BLUR REAL */
  -webkit-backdrop-filter: blur(8px); /* Safari */

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  z-index: 1500;
}

/* ACTIVO */
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}



/* ACTIVO */
.menu-mobile.active {
  right: 0;
}

/* LINKS */
.menu-mobile a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.1); /* 🔥 línea separadora */
}

/* BOTÓN CERRAR */
.cerrar-menu {
  font-size: 25px;
  background: none;
  border: none;
  color: white;
  align-self: flex-end;
  cursor: pointer;
}


.menu-redes{
    margin-top: 20px;   
}

.redmob{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* ------ MENU DESPLEGABLE ------*/


.heroCel{
    height: 250px;
    width: 100%;
    background-image: url(imagenes/herocel.png);
    background-size: cover;      /* 🔥 clave */
    background-position: center; /* 🔥 centra la imagen */
    background-repeat: no-repeat;
   
}

.textCel{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 43px;
    line-height: 1.1;
    
}


.textsubCel{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 8px;
}

.llamadoCel{
    background-color:#e25118;
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    margin-top:8px;
    font-family:'Poppins', sans-serif;
    box-shadow:  0 0 8px 3px #1f1f1f;
   margin-left: 32%;
   animation: pulse 2s infinite
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }

}

/*---- TARJETAS DE SERVICIOS ----*/

.serviciosCel{
 font-family: 'Poppins', sans-serif;
 text-align: center;
 height: 900px;

 padding-top: 20px;
}


.seccionCel{
    color: #5775f6;
    font-size: 23px;
    
    margin-bottom: 0px; /*  reduce espacio abajo */

}

.textsubServ{
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 0; /*  elimina espacio arriba */
   
}

.serviciosCel .card-servicio{

    background-color:#1c2638;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s ease;

}

.serviciosCel .icono-box{
    width: 52px;
    height: 40px;
    
}

.serviciosCel h3{
    font-size: 17px;

}

.serviciosCel .textsub{
     font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight:normal;
    margin-left: 0;
}

/* --- BENEFICIOS --- */

.beneficiosCel{
    background-color: #2c234b;
    width: 100%;
  
}


.beneficiosCel .seccion{
    font-size: 23px;
    margin-bottom: 0;
    padding-top: 40px;
    line-height: 1.1;
    width: 100%;
}

.beneficiosCel  .textsub{

    font-size: 14px; 
    text-align: center;  
    margin: 0; 
    margin-top: 0;
  
}


.tarjetasCel{
    height: 970px;
   
    width: 100%;
    display: flex;
  flex-direction: column; /*  uno debajo del otro */
  align-items: center;    /* centra horizontal */
  
}

.tarjetasCel .t1, .t2, .t3, .t4{
   width: 300px;
   height: 200px; 
    margin-right: 0;
   margin-left: 0;
   margin-bottom: 35px;
    
}

.tarjetasCel .t1{
    background-image: url(imagenes/tarjet1.png);
    
}
.tarjetasCel .t2{
   
    background-image: url(imagenes/tarjet2.png);
}

.tarjetasCel .t3{
    background-image: url(imagenes/tarjet3.png);
}

.tarjetasCel .t4{
  background-image: url(imagenes/tarjet4.png);
}


.tarjetasCel .textsub1{
    margin-left: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}

.tarjetasCel .textsub{
    margin-left: 0;
    font-size: 16px;
    text-align: center;
    margin-top: 110px;
}


.contactoCel{

    background: linear-gradient(to bottom, #241d3d 10%, #10192b 90%);
  height: 1200px;
}

.contactoCel .seccion{
    font-size: 23px;
    margin-bottom: 0;
    padding-top: 40px;
    line-height: 1.1;
    width: 100%;
}


.contactoCel .textsub{
    font-size: 14px; 
    text-align: center;  
    margin: 0; 
    margin-top: 0;
  
}


.contactoCel .formulario{
  margin: 10px 20px;
 padding: 40px 20px 10px 20px;
}

.contactoCel label{
   font-size: 14px;
}

.contactoCel .enviar{
margin-top: 15px;
height: 30px;
font-size: 14px;
}


.infoCel{
margin: 40px 20px 10px 20px;
background: linear-gradient(135deg, #1c2638, #2a3b5f);
height: 415px;
border-radius: 8px;

}

.contactoCel .banred{
    font-size: 18px;
}

.contactoCel .redes, .redes2, .redes3{
height: 50px;
}

.contactoCel .textsub{
    font-size: 17px;
    
}

.contactoCel .instagrama{
    font-size: 15px;
}

.contactoCel .imag{
    height: 23px;
}



.footerCel{
 background-color:  #030818;
 width: 100%;
 height: 280px;
 display:flex;
 flex-direction: column;
justify-content: center;
align-items: center;
}


.footerCel .menu{
   
    margin: 0;
    padding: 0;
    text-align: center;
}
 
.footerCel .menu1{
    margin: 0;
    padding: 0;
    font-size: 15px;
  
}

.footerCel .logocel{
 height: 80px;
 width: 150px;   
 margin: 0;
 padding: 0;

}

.footerCel .textsub{
   font-size: 14px;
   text-align: center;
   margin: 0;
   padding: 0;
   margin-top: 15px;
  
}



}


 
